@font-face {
    font-family: 'AvenirLTStd-Roman';
    src:url('AvenirLTStd-Roman.woff') format('woff'),
          url('AvenirLTStd-Roman.woff2') format('woff2'),
          url('AvenirLTStd-Roman.eot'),
          url('AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
          url('AvenirLTStd-Roman.otf') format('truetype');
  
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  html,body { font-family: 'AvenirLTStd-Roman' !important; }

body {
	background-color: #ffffff;
	padding-top: 100px;
}

html{
	height: 100%;
}

html,
body {
	max-width: 100%;
	overflow-x: hidden;
}

/* -- Navigation -- */

.navbar-default {
	background-color: transparent;
	padding: 20px 0;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

nav.navbar.navbar-default.navbar-fixed-top {
	background: #ffffff;
}

.sticky.navbar-default {
	background-color: #ffffff !important;
	padding: 10px 0;
}

.navbar-nav {
	margin-top: 4px;
}

.slash {
	margin-top: 8px;
}

.sticky.navbar .nav>li {
	padding: 0 13px;
}

.navbar-nav>li>.dropdown-menu {
	margin-top: 23px;
}

.sticky .navbar-nav>li>.dropdown-menu {
	margin-top: 13px;
}

.navbar-right .dropdown-menu {
	right: auto;
	left: 15px;
}

.sticky .navbar-right .dropdown-menu {
	left: 13px;
}

.navbar-brand {
	padding: 0 15px;
	height: auto;
}

.navbar .nav>li {
	padding: 0 15px;
	-webkit-transition: padding 0.4s ease-in-out;
	-moz-transition: padding 0.4s ease-in-out;
	transition: padding 0.4s ease-in-out;
}

.navbar .nav>li>a {
	padding: 5px 0;
}

.navbar-default {
	margin-bottom: 0;
	border-color: transparent;
}

.navbar-default .navbar-nav>li>a {
	text-transform: uppercase;
	border-bottom: 1.5px solid transparent;
	font-family: Avenir Next;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	color: #1E305E;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
	color: #1E305E;
	border-bottom: 1.5px solid #02C5AF;
	font-weight: 600;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus {
	color: #1E305E;
	font-weight: 600;
	background-color: transparent;
	border-bottom: 1.5px solid #02C5AF;
}

.navbar-default .navbar-nav>.active>a:hover {
	color: #1E305E;
	background-color: transparent;
	border-bottom: 1.5px solid #02C5AF;
}


/*Dropdown Style*/

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
	color: #1E305E;
	background-color: transparent;
	border-bottom: 1px solid transparent;
}

.navbar-nav>li>.dropdown-menu {
	border-radius: 0;
	padding: 0;
}

.dropdown-menu>li {
	border-bottom: 1px solid #02C5AF;
}

.dropdown-menu>li:last-child {
	border-bottom: 0;
}

.dropdown-menu>li>a {
	padding: 7px 20px;
	font-size: 12px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	color: #1E305E;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
	background-color: #1E305E;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
	color: #1E305E;
	background-color: #75a017;
}


/*Mobile Menu Style*/

@media (max-width: 767px) {
	.navbar-default {
		background-color: #75a017;
	}
	.navbar-brand {
		padding: 4px 15px;
	}
	.slash {
		display: none;
	}
}

.navbar-toggle {
	border-radius: 0;
	background-color: #1E305E;
}

.navbar-default .navbar-toggle:hover {
	border-color: rgb(2, 197, 175);;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #1E305E;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.navbar-default .navbar-toggle:hover .icon-bar {
	background-color: #1E305E;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background-color: transparent;
}

.navbar{
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
/* -- Content -- */

/* page transition */
.ani{
    -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein .5s; /* Firefox < 16 */
        -ms-animation: fadein .5s; /* Internet Explorer */
         -o-animation: fadein .5s; /* Opera < 12.1 */
            animation: fadein .5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


section .container {
	width: 100%;
}

.center {
	display: flex;
	flex-direction: row;
}

#scrollup {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
	color: #02C5AF;
	cursor: pointer;
	border: 1px solid #1E305E;
	text-align: center;
	font-size: 24px;
	line-height: 36px;
	z-index: 9999;
	display: none;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

body {
	min-height: 100%;
	margin: 0;
	display: flex;
    flex-direction: column;
}

.main-container{
	flex: 1 0 auto;
}
footer{
	flex-shrink: 0;
}

#footer .left {
	float: left;
	text-align: left;
}

#footer p {
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 20px;
	color: #000000;
}

#footer .right {
	float: right;
	text-align: right;
}

.home, .career, .reports{
	margin-bottom: 20px;
	margin-top: 10px;
}

#bh1{
	display: none;
}

#footer #fh2{
	display: none;
}


@media (max-width: 600px) {
	#footer #fh, #fh1{
		display: none;
	}

	#footer #fh2{
		display: inline-block;
	}
	#footer .right {
		float: none;
		text-align: center;
	}
	#footer .left {
		float: none;
		text-align: center;
	}
}


/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.navbar .nav>li {
		padding: 0 8px;
	}
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 768px) {
	div#main-nav-collapse {
		background: #ffffff;
	}
	nav.navbar.navbar-default.navbar-fixed-top {
		padding: 5px 0px;
	}
	.navbar-default .navbar-nav>li>a {
		text-align: center;
	}
	.navbar-default .navbar-toggle {
		border-color: #fff;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.slash {
		display: none;
	}
}


/* Responsiveness */

@media (max-width: 1199px) {
	.center {
		flex-direction: column;
	}
}

@media (max-width:399px) {
	.logo{
		width: 100px;
		height: 25px;
		margin-top: 10px;
	}
	.center {
		flex-direction: column;
	}
	h1 {
		font-size: clamp(28px, 8vw, 48px) !important;
	}
	h2 {
		font-size: clamp(28px, 8vw, 48px) !important;
	}
	body {
		padding-top: 60px;
	}
	.about-title,
	.career-title,
	.report-title {
		font-family: Avenir;
		font-style: normal;
		font-weight: 800;
		line-height: 35px;
		color: #1E305E;
		text-align: center;
	}
	.para {
		padding-top: 30px;
		max-width: 90%;
		margin: 0 auto;
	}
	.para p {
		width: 100%;
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 25px;
		color: #386C66;
		text-align: left;
	}
	.para p a {
		color: #02C5AF;
	}
	.box-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 25px;
		margin-right: 0;
	}
	.box {
		margin: 20px;
		width: 300px;
		height: 144px;
		border-radius: 40px;
		margin-right: 0 auto;
		position: relative;
		display: flex;
		flex-direction: row;
		padding: 20px;
		justify-content: center;
		align-items: center;
		background: #02C5AF;
		margin-left: 0 auto;
		margin-bottom: 25px ;
	}

	#bh{
		display: none;
	}

	#bh1{
		display: inline-block;
	}
	.box-text {
		position: absolute;
		top: 25px;
		left: 10px;
	}
	.box-text p {
		font-family: Avenir;
		font-weight: normal;
		font-style: normal;
		line-height: 25px;
		font-size: 12px;
		color: #FFFFFF;
	}
	.box-sign {
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 10px;
		line-height: 20px;
		color: #FFFFFF;
		position: absolute;
		top: 105px;
		left: 110px;
	}
	.box-img {
		width: 90px;
		height: 90px;
		position: absolute;
		top: 42px;
		right: 10px;
	}
	.career-center {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.career-para {
		max-width: 90%;
		margin: 0 auto;
		padding-top: 30px;
	}
	.career-para p {
		width: 100%;font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 25px;
		color: #000000;
		text-align: left;
	}
	.career-para br {
		display: none;
	}
	.fas,
	.far {
		color: red;
	}
	.career-para ul {
		font-family: Avenir;
		width: 100%;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 25px;
		list-style: none;
		color: #324606;
		text-align: left;
	}
	.career-para li {
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 25px;
		color: #324606;
		padding-bottom: 5px;
		margin-left: -25px;
	}
	.inner-list li {
		font-family: Avenir;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 19px;
		color: #000000;
		padding-left: 27px;
	}
	.career-para .list {
		margin-left: 0;
		margin-top: 20px;
	}

	.para-lower {
		max-width: 90%;
		margin: 0 auto;
		padding-top: 30px;
	}


	.para-lower p {
		margin: 0 auto;
		width: 100%;
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 25px;
		color: #000000;
		text-align: left;
	}
	.para-lower a {
		color: #02C5AF;
	}
	#p1 {
		display: none;
	}
	#p2 {
		display: block;
	}
	.row-right {
		padding: 0;
		margin: 0;
	}
	.career-img {
		margin-top: 50px;
		border-radius: 20px;
		width: 328px;
		height: 303px;
		margin-left: 0;
		padding: 0;
	}

	.reports-center {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.report-para {

		margin: 0 auto;
		padding-top: 30px;
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 25px;
		color: #000000;
		text-align: left;
	}
	.report-para li {
		margin: 0 auto;
		width: 100%;
		text-align: left;
		list-style: none;
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 25px;
		color: #000000;
		margin-left: -25px;
	}
	.report-para .inner-list li {
		list-style: none;
		font-family: Avenir;
		font-style: normal;
		font-weight: 300;
		font-size: 12px;
		line-height: 19px;
		color: #02C5AF;
		margin-left: -60px;
		padding-top: 15px;
	}
	.report-para a {
		color: #02C5AF;
	}
	.report-box {
		margin-top: 30px;
		background: #02C5AF;
		border-radius: 31px;
		height: 200px;
		width: 290px;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}
	.report-box p {
		text-align: center;
		color: #ffffff;
		font-size: 15px;
	}
	.report-box a {
		color: #ffffff;
		width: 297px;
		height: 50px;
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 25px;
		text-align: center;
	}
	.download {
		position: fixed;
		top: 50%;
		left: 50%;
		/* bring your own prefixes */
		transform: translate(-50%, -50%);
	}
	.download img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}
	.download p {
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 30px;
		text-align: center;
		color: #525252;
	}
}

@media (max-width:499px) and (min-width:400px) {
	.logo{
		width: 100px;
		height: 25px;
		margin-top: 10px;
	}
	.center {
		flex-direction: column;
	}
	h1 {
		font-size: clamp(32px, 8vw, 48px) !important;
	}
	h2 {
		font-size: clamp(32px, 8vw, 48px) !important;
	}
	body {
		padding-top: 60px;
	}
	.about-title,
	.career-title,
	.report-title {
		font-family: Avenir;
		font-style: normal;
		font-weight: 800;
		line-height: 40px;
		color: #1E305E;
		text-align: center;
	}
	.para {
		padding-top: 30px;
		max-width: 90%;
		margin: 0 auto;
	}
	.para p {
		width: 100%;
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 25px;
		color: #386C66;
		text-align: left;
	}
	.para p a {
		color: #02C5AF;
	}
	.box-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
		margin-right: 0;
	}
	.box {
		margin: 20px;
		width: 370px;
		height: 144px;
		border-radius: 40px;
		margin-right: 0;
		position: relative;
		display: flex;
		flex-direction: row;
		padding: 20px;
		justify-content: center;
		align-items: center;
		background: #02C5AF;
		
		margin: 0 auto;
		margin-bottom: 25px ;
		margin-top: 20px;
	}
	#bh{
		display: none;
	}

	#bh1{
		display: inline-block;
	}
	.box-text {
		position: absolute;
		top: 25px;
		left: 16px;
	}
	.box-text p {
		font-family: Avenir;
		font-weight: normal;
		font-style: normal;
		line-height: 25px;
		font-size: 14px;
		color: #FFFFFF;
	}
	.box-sign {
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 20px;
		color: #FFFFFF;
		position: absolute;
		top: 105px;
		left: 150px;
	}
	.box-img {
		width: 90px;
		height: 90px;
		position: absolute;
		top: 30px;
		right: 11px;
	}

	.career-center {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.career-para {
		max-width: 90%;
		margin: 0 auto;
		padding-top: 30px;
	}
	.career-para p {
		width: 100%;font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 25px;
		color: #000000;
		text-align: left;
	}
	.career-para br {
		display: none;
	}
	.fas,
	.far {
		color: red;
	}
	.career-para ul {
		font-family: Avenir;
		width: 100%;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 25px;
		list-style: none;
		color: #324606;
		text-align: left;
	}
	.career-para li {
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 25px;
		color: #324606;
		padding-bottom: 5px;
		margin-left: -25px;
	}
	.inner-list li {
		font-family: Avenir;
		font-style: normal;
		font-weight: 300;
		font-size: 15px;
		line-height: 19px;
		color: #000000;
		padding-left: 27px;
	}
	.career-para .list {
		margin-left: 0;
		margin-top: 20px;
	}

	.para-lower {
		max-width: 90%;
		margin: 0 auto;
		padding-top: 30px;
	}


	.para-lower p {
		margin: 0 auto;
		width: 100%;
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 25px;
		color: #000000;
		text-align: left;
	}
	.para-lower a {
		color: #02C5AF;
	}
	#p1 {
		display: none;
	}
	#p2 {
		display: block;
	}
	.row-right {
		padding: 0;
		margin: 0;
	}
	.career-img {
		margin-top: 50px;
		border-radius: 20px;
		width: 328px;
		height: 303px;
		margin-left: 0;
		padding: 0;
	}

	.reports-center {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.report-para {

		margin: 0 auto;
		padding-top: 30px;
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 25px;
		color: #000000;
		text-align: left;
	}
	.report-para li {
		margin: 0 auto;
		width: 100%;
		text-align: left;
		list-style: none;
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 25px;
		color: #000000;
		margin-left: -10px;
	}
	.report-para .inner-list li {
		list-style: none;
		font-family: Avenir;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 19px;
		color: #02C5AF;
		margin-left: -60px;
		padding-top: 15px;
	}
	.report-para a {
		color: #02C5AF;
	}
	.report-box {
		margin-top: 30px;
		background: #02C5AF;
		border-radius: 31px;
		height: 200px;
		width: 290px;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}
	.report-box p {
		text-align: center;
		color: #ffffff;
		font-size: 15px;
	}
	.report-box a {
		color: #ffffff;
		width: 297px;
		height: 50px;
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 25px;
		text-align: center;
	}
	.download {
		position: fixed;
		top: 50%;
		left: 50%;
		/* bring your own prefixes */
		transform: translate(-50%, -50%);
	}
	.download img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}
	.download p {
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 30px;
		text-align: center;
		color: #525252;
	}

	
}

@media (max-width:599px) and (min-width:500px) {
	.logo{
		width: 125px;
		height: 30px;
		margin-top: 7px;
	}
	.center {
		flex-direction: column;
	}

	h1 {
		font-size: clamp(32px, 8vw, 48px) !important;
	}
	h2 {
		font-size: clamp(32px, 8vw, 48px) !important;
	}
	body {
		padding-top: 60px;
	}
	.about-title,
	.career-title,
	.report-title {
		font-family: Avenir;
		font-style: normal;
		font-weight: 800;
		line-height: 40px;
		color: #1E305E;
		text-align: center;
	}
	.para {
		padding-top: 30px;
		max-width: 90%;
		margin: 0 auto;
	}
	.para p {
		width: 100%;
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 25px;
		color: #386C66;
		text-align: left;
	}
	.para p a {
		color: #02C5AF;
	}
	.box-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
		margin-right: 0;
	}
	.box {
		margin: 20px;
		width: 438px;
		height: 144px;
		border-radius: 40px;
		margin-right: 0;
		position: relative;
		display: flex;
		flex-direction: row;
		padding: 20px;
		justify-content: center;
		align-items: center;
		background: #02C5AF;
		
		margin: 0 auto;
		margin-bottom: 25px ;
		margin-top: 20px;
	}
	.box-text {
		position: absolute;
		top: 25px;
		left: 20px;
	}
	.box-text p {
		font-family: Avenir;
		font-weight: normal;
		font-style: normal;
		line-height: 25px;
		font-size: 16px;
		color: #FFFFFF;
	}
	.box-sign {
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 13px;
		line-height: 20px;
		color: #FFFFFF;
		position: absolute;
		top: 105px;
		left: 200px;
	}
	.box-img {
		width: 112px;
		height: 112px;
		position: absolute;
		top: 16px;
		right: 15px;
	}
	.career-center {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.career-para {
		max-width: 90%;
		margin: 0 auto;
		padding-top: 30px;
	}
	.career-para p {
		width: 100%;font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 25px;
		color: #000000;
		text-align: left;
	}
	.career-para br {
		display: none;
	}
	.fas,
	.far {
		color: red;
	}
	.career-para ul {
		font-family: Avenir;
		width: 100%;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 25px;
		list-style: none;
		color: #324606;
		text-align: left;
	}
	.career-para li {
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 25px;
		color: #324606;
		padding-bottom: 5px;
		margin-left: -25px;
	}
	.inner-list li {
		font-family: Avenir;
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		color: #000000;
		padding-left: 27px;
	}
	.career-para .list {
		margin-left: 0;
		margin-top: 20px;
	}

	.para-lower {
		max-width: 90%;
		margin: 0 auto;
		padding-top: 30px;
	}


	.para-lower p {
		margin: 0 auto;
		width: 100%;
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 25px;
		color: #000000;
		text-align: left;
	}
	.para-lower a {
		color: #02C5AF;
	}
	#p1 {
		display: none;
	}
	#p2 {
		display: block;
	}
	.row-right {
		padding: 0;
		margin: 0;
	}
	.career-img {
		margin-top: 50px;
		border-radius: 20px;
		width: 428px;
		height: 403px;
		margin-left: 0;
		padding: 0;
	}

	.reports-center {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.report-para {

		margin: 0 auto;
		padding-top: 30px;
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 25px;
		color: #000000;
		text-align: left;
	}
	.report-para li {
		margin: 0 auto;
		width: 100%;
		text-align: left;
		list-style: none;
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 25px;
		color: #000000;
		margin-left: -10px;
	}
	.report-para .inner-list li {
		list-style: none;
		font-family: Avenir;
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		color: #02C5AF;
		margin-left: -60px;
		padding-top: 15px;
	}
	.report-para a {
		color: #02C5AF;
	}
	.report-box {
		background: #02C5AF;
		border-radius: 31px;
		height: 200px;
		width: 400px;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		margin-top: 30px;
	}
	.report-box p {
		text-align: center;
		color: #ffffff;
		font-size: 18px;
	}
	.report-box a {
		color: #ffffff;
		width: 297px;
		height: 50px;
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 25px;
		text-align: center;
	}
	.download {
		position: fixed;
		top: 50%;
		left: 50%;
		/* bring your own prefixes */
		transform: translate(-50%, -50%);
	}
	.download img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}
	.download p {
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 30px;
		text-align: center;
		color: #525252;
	}
}

@media (max-width:1199px) and (min-width:600px) {
	.center {
		flex-direction: column;
	}

	h1 {
		font-size: clamp(32px, 8vw, 48px) !important;
	}
	h2 {
		font-size: clamp(32px, 8vw, 48px) !important;
	}
	body {
		padding-top: 70px;
	}
	.about-title,
	.career-title,
	.report-title {
		font-family: Avenir;
		font-style: normal;
		font-weight: 800;
		line-height: 50px;
		color: #1E305E;
		text-align: center;
	}
	.para {
		padding-top: 30px;
		max-width: 80%;
		margin: 0 auto;
	}
	.para p {
		width: 100%;
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 25px;
		color: #386C66;
		text-align: left;
	}
	.box-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
		margin-right: 0;
	}
	.box {
		margin: 20px;
		width: 538px;
		height: 144px;
		border-radius: 40px;
		margin-right: 0;
		position: relative;
		display: flex;
		flex-direction: row;
		padding: 20px;
		justify-content: center;
		align-items: center;
		background: #02C5AF;
	}
	.box-text {
		position: absolute;
		top: 25px;
		left: 40px;
	}
	.box-text p {
		font-family: Avenir;
		font-weight: normal;
		font-style: normal;
		line-height: 25px;
		font-size: 18px;
		color: #FFFFFF;
	}
	.box-sign {
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 20px;
		color: #FFFFFF;
		position: absolute;
		top: 105px;
		left: 260px;
	}
	.box-img {
		width: 112px;
		height: 112px;
		position: absolute;
		top: 16px;
		right: 26px;
	}
	.para p a {
		color: #02C5AF;
	}

	.career-center {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.career-para {
		max-width: 80%;
		margin: 0 auto;
		padding-top: 30px;
	}
	.career-para p {
		width: 100%;font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 25px;
		color: #000000;
		text-align: left;
	}
	.career-para br {
		display: none;
	}
	.fas,
	.far {
		color: red;
	}
	.career-para ul {
		font-family: Avenir;
		width: 100%;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 25px;
		list-style: none;
		color: #324606;
		text-align: left;
	}
	.career-para li {
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 25px;
		color: #324606;
		padding-bottom: 5px;
		margin-left: -25px;
	}
	.inner-list li {
		font-family: Avenir;
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		color: #000000;
		padding-left: 27px;
	}
	.career-para .list {
		margin-left: 0;
		margin-top: 20px;
	}

	.para-lower {
		max-width: 80%;
		margin: 0 auto;
		padding-top: 30px;
	}


	.para-lower p {
		margin: 0 auto;
		width: 100%;
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 25px;
		color: #000000;
		text-align: left;
	}
	.para-lower a {
		color: #02C5AF;
	}
	#p1 {
		display: none;
	}
	#p2 {
		display: block;
	}
	.row-right {
		padding: 0;
		margin: 0;
	}
	.career-img {
		margin-top: 50px;
		border-radius: 20px;
		width: 428px;
		height: 503px;
		margin-left: 0;
		padding: 0;
	}

	.reports-center {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.report-para {

		margin: 0 auto;
		padding-top: 30px;
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 25px;
		color: #000000;
		text-align: left;
	}
	
	.report-para li {
		margin: 0 auto;
		width: 100%;
		text-align: left;
		list-style: none;
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 25px;
		color: #000000;
	}

	.report-para .inner-list li {
		list-style: none;
		font-family: Avenir;
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		color: #02C5AF;
		margin-left: -50px;
		padding-top: 15px;
	}
	.report-para a {
		color: #02C5AF;
	}
	.report-box {
		background: #02C5AF;
		border-radius: 31px;
		height: 290px;
		width: 400px;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		margin-top: 50px;
	}
	.report-box p {
		text-align: center;
		color: #ffffff;
		font-size: 18px;
	}
	.report-box a {
		color: #ffffff;
		width: 297px;
		height: 50px;
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 25px;
		text-align: center;
	}
	.download {
		position: fixed;
		top: 50%;
		left: 50%;
		/* bring your own prefixes */
		transform: translate(-50%, -50%);
	}
	.download img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}
	.download p {
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 30px;
		text-align: center;
		color: #525252;
	}

}

@media (min-width:1200px) {
	.home, .career{
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.reports{
		margin-top: 20px;
		margin-bottom: 100px;
	}
	#p2 {
		display: none;
	}
	.para {
		padding-top: 30px;
		max-width: 400px;
		text-align: left;
	}
	.about-title {
		font-family: Avenir;
		font-style: normal;
		font-weight: 800;
		font-size: 48px;
		line-height: 66px;
		color: #1E305E;
	}
	.para p {
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 25px;
color: #386C66;

	}
	.para p a {
		color: #02C5AF;
	}
	.container {
		max-width: 1110px;
	}
	.center {
		max-width: 100%;
	}
	.row-left {
		width: 520px;
		height: 448px;
		margin-top: 0;
	}
	.about-title {
		font-size: 48px;
		text-align: left;
		font-family: Avenir;
		font-style: normal;
		font-weight: 800;
		font-size: 48px;
		line-height: 66px;
		color: #1E305E;
	}
	.para {
		text-align: left;
		margin-left: 0;
		margin-top: 30px;
	}
	.box-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 0;
		margin-right: 0;
	}
	.box {
		margin: 20px;
		width: 538px;
		height: 144px;
		border-radius: 40px;
		margin-right: 0;
		position: relative;
		display: flex;
		flex-direction: row;
		padding: 20px;
		justify-content: center;
		align-items: center;
		background: #02C5AF;
	}
	.box-text {
		position: absolute;
		top: 35px;
		left: 50px;
	}
	.box-text p {
		font-family: Avenir;
		font-weight: normal;
		font-style: normal;
		line-height: 25px;
		font-size: 18px;
		color: #FFFFFF;
	}
	.box-sign {
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 20px;
		color: #FFFFFF;
		position: absolute;
		top: 105px;
		left: 260px;
	}
	.box-img {
		width: 112px;
		height: 112px;
		position: absolute;
		top: 16px;
		right: 26px;
	}
	.career-center {
		display: flex;
		align-items: center;
		
	margin-top: 20px;

	}
	.career-left {
		width: 565px;
		height: auto;
	}
	.career-title {
		font-family: Avenir;
		font-style: normal;
		font-weight: 800;
		font-size: 32px;
		line-height: 44px;
		color: #1E305E;
		text-align: left;
		width: 564px;
		height: 44px;
		padding-bottom: 60px;
	}
	.career-para p {
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 25px;
		color: #000000;
		text-align: left;
		width: 564px;
		height: 50px;
		padding-bottom: 70px;
	}
	.fas,
	.far {
		color: red;
	}

	.career-para ul {
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 25px;
		list-style: none;
		color: #000000;
		width: 273px;
		height: 53px;
		text-align: left;
		padding: 0;
	}
	.career-para li {
		line-height: 40px;
		height: 30px;
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 25px;
		color: #000000;
		padding-bottom: 15px;
	}
	.inner-list li {
		font-family: Avenir;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 19px;
		color: #000000;
		padding-left: 27px;
	}
	.para-lower {
		margin-top: 156px;
		width: 564px;
		height: auto;
	}
	.para-lower p {
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 25px;
		color: #000000;
		text-align: left;
		max-width: 95%;
	}
	.para-lower a {
		color: #02C5AF;
	}
	.row-right {
		padding: 0;
		margin: 0;
	}
	.career-img {
		border-radius: 20px;
		width: 528px;
		height: 603px;
		margin-left: 0;
		padding: 0;
	}

	.reports-center {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 50px;
	}
	.report-left .left-content {
		width: 600px;
		height: auto;
	}
	.report-title {
		width: 635px;
		height: 44px;
		font-family: Avenir;
		font-style: normal;
		font-weight: 800;
		font-size: 32px;
		line-height: 44px;
		color: #1E305E;
		text-align: left;
		margin-top: 0;
		margin-bottom: 30px;
	}
	.report-para {
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 25px;
		color: #000000;
		text-align: left;
		margin-left: 0;
	}
	.report-para ul {
		margin-left: 0;
	}
	.report-para li {
		list-style: none;
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 25px;
		color: #000000;
		margin-left: -49px;
	}
	.report-para .inner-list li {
		list-style: none;
		font-family: Avenir;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 19px;
		color: #02C5AF;
		margin-left: -70px;
	}
	.report-para a {
		color: #02C5AF;
		width: 104px;
		height: 19px;
	}
	.report-box {		
		background: #02C5AF;
		border-radius: 31px;
		height: 290px;
		width: 490px;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}
	.report-box p {
		text-align: center;
		color: #ffffff;
		font-size: 18px;
	}
	.report-box a {
		color: #ffffff;
		width: 297px;
		height: 50px;
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 25px;
		text-align: center;
	}
	.download {
		position: fixed;
		top: 50%;
		left: 50%;
		/* bring your own prefixes */
		transform: translate(-50%, -50%);
	}
	.download img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}
	.download p {
		font-family: Avenir;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		line-height: 30px;
		text-align: center;
		color: #525252;
	}
}
