* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: Avenir;
  padding-top: 100px;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}

/*-- Pre Loader --*/

.preloader-area {
	background: #fff;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 99999;
}

.sk-cube-grid {
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 40%;
}

.sk-cube-grid .sk-cube {
	width: 33%;
	height: 33%;
	background-color: #75a017;
	float: left;
	-webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
	animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
	0%,
	70%,
	100% {
		-webkit-transform: scale3D(1, 1, 1);
		transform: scale3D(1, 1, 1);
	}
	35% {
		-webkit-transform: scale3D(0, 0, 1);
		transform: scale3D(0, 0, 1);
	}
}

@keyframes sk-cubeGridScaleDelay {
	0%,
	70%,
	100% {
		-webkit-transform: scale3D(1, 1, 1);
		transform: scale3D(1, 1, 1);
	}
	35% {
		-webkit-transform: scale3D(0, 0, 1);
		transform: scale3D(0, 0, 1);
	}
}

/* -- Navigation -- */

.navbar-default {
	background-color: transparent;
	padding: 20px 0;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

nav.navbar.navbar-default.navbar-fixed-top {
	background: #ffffff;
}

.sticky.navbar-default {
	background-color: #f3f2f2 !important;
	padding: 10px 0;
}

.navbar-nav {
	margin-top: 4px;
}

.sticky.navbar .nav > li {
	padding: 0 13px;
}

.navbar-nav > li > .dropdown-menu {
	margin-top: 23px;
}

.sticky .navbar-nav > li > .dropdown-menu {
	margin-top: 13px;
}

.navbar-right .dropdown-menu {
	right: auto;
	left: 15px;
}

.sticky .navbar-right .dropdown-menu {
	left: 13px;
}

.navbar-brand {
	padding: 0 15px;
	height: auto;
}

.navbar .nav > li {
	padding: 0 15px;
	-webkit-transition: padding 0.4s ease-in-out;
	-moz-transition: padding 0.4s ease-in-out;
	transition: padding 0.4s ease-in-out;
}

.navbar .nav > li > a {
	padding: 5px 0;
}

.navbar-default {
	margin-bottom: 0;
	border-color: transparent;
}

.navbar-default .navbar-nav > li > a {
	color: #75A017;
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
	text-transform: uppercase;
	border-bottom: 1px solid transparent;
}


.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
	color: #75A017;
	border-bottom: 1px solid #75A017;
	font-weight: 600;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus {
	color: #75A017;
	font-weight: 600;
	background-color: transparent;
	border-bottom: 1px solid #75A017;
}

.navbar-default .navbar-nav > .active > a:hover {
	color: #75a017;
	background-color: transparent;
	border-bottom: 1px solid #75A017;
}

/*Dropdown Style*/

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
	color: #75a017;
	background-color: transparent;
	border-bottom: 1px solid transparent;
}

.navbar-nav > li > .dropdown-menu {
	border-radius: 0;
	padding: 0;
}

.dropdown-menu > li {
	border-bottom: 1px solid #75a017;
}

.dropdown-menu > li:last-child {
	border-bottom: 0;
}

.dropdown-menu > li > a {
	padding: 7px 20px;
	font-size: 12px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	color: #222222;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
	background-color: #75a017;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
	color: #fff;
	background-color: #75a017;
}

/*Mobile Menu Style*/

@media (max-width: 767px) {
	.navbar-default {
		background-color: #75a017;
	}
	.navbar-brand {
		padding: 4px 15px;
	}
}

.navbar-toggle {
	border-radius: 0;
	background-color: #75a017;
}

.navbar-default .navbar-toggle:hover {
	border-color: #75a017;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #75a017;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.navbar-default .navbar-toggle:hover .icon-bar {
	background-color: #75a017;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background-color: transparent;
}

#brand {
	margin-top: 10px;
	color: #4D5E26;
	font-size: 30px;
	font-weight: bolder;
}

/* -- Content -- */
section .container{
	width: 100%;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;

}

.row-left{
	width: 520px;
	height: 508px;
}

.para{
	padding-top: 30px;
	max-width: 400px;
	text-align: left;
}

.about-title{
	font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 66px;
color: #525252;
}

.para p{
	font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
color: #4D5E26;
}

.para p a{
	color:#8ebb24;
}

.box-container{
	top: 3px;
}

.box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-container > div {

height: 124px;
width: 520px;
background: #4D5E26;
border-radius: 40px;
margin: 20px;
}

.box {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.box-text{
	font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;

color: #FFFFFF;
}

.box-text span{
	font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 20px;
margin-left: 250px;
color: #FFFFFF;
}

footer {
 background-color: #ffffff;
 padding: 0;
 bottom: 0;
 width: 100%;
 margin: 0;
}

#footer .left{
	float: left;
}

#footer .right{
	float: right;
}

/* Responsiveness */

/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

	.navbar .nav > li {
		padding: 0 8px;
	}
}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 768px) {
	div#main-nav-collapse {
		background: #ffffff;
	}
	nav.navbar.navbar-default.navbar-fixed-top {
		padding: 5px 0px;
	}
	.navbar-default .navbar-nav > li > a {
		text-align: center;
	}

	.navbar-default .navbar-toggle {
		border-color: #fff;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}

	#footer{
		text-align: center;
	}

	#footer .left,
	#footer .right{
	float: none;
}
}


@media (max-width: 800px) {
  .center {
    flex-direction: column;
  }
}
@media (max-width:480px) and (min-width:320px) {
    .about-title{
	font-size: 8vw;
	line-height: 36px;
	}

.row-left{
	width: 90%;
	height: auto;
}​
.para{
	padding-top: 30px;
}

.para p{
font-size: 16px;
text-align: justify;
width: 100%;
}

.left-content{
	text-align: center;
}

.left-content p{
	margin: 0 auto;
}

.box-container{
	margin-top: 30px;
}

.box-container > div {
width: 85vw;
}

.box-img{
	margin-right: 200px;
	width: 85px;
	height: 85px;
	float: right;
}

.box-text p{
	width: 200px;
	height: 70px;
	text-align: left;
	margin-top: 10px;
	margin-left: 205px;
	font-size: 16px;

}

.box-text span{
	text-align: left;
	float: left;
	padding: 5px;
	margin-top: -5px;
	margin-right: 35px;
width: 120px;
font-size: 13px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.career{
	margin-top: 20px ;
}

.career-title{
font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 44px;
color: #525252;
text-align: left;
}

.career-para {
	font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;

color: #4D5E26;
text-align: left;
}


.fas, .far{color: red;
}

.career-para ul{
font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;

color: #324606;
}

.para-lower{
	margin-top: 70px;
	font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
color: #4D5E26;
height: auto;
text-align: justify;
}

.para-lower a{
	color:#8ebb24;
}

.row-right{
	margin-top: 50px;
}
.career-img{
	border-radius: 20px;
	width: 80%;
	height: auto;
	margin: 0 auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.report-left{
	margin-top: 50px ;
}

.report-title{
font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 44px;
color: #525252;
text-align: left;
}

.report-para{
font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 25px;
color: #324606;
text-align: left;
}

.report-para li{
	margin: 15px;
}
.report-para .inner-list{
	list-style: none;
}

.report-box{
	background: #4D5E26;
border-radius: 31px;
height: 90px;
width: 90%;
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
}

.report-box p{
	text-align: center;
	color: #ffffff;
}

.report-box a{
	color: #ffffff;
}

.report-para a {
	color:#324606 ;
}
}

@media (max-width:799px) and (min-width:481px){

.box-container{
	margin-top: 30px;
}

.box-container > div {
width: 85vw;
}

.box-text span{
	margin-left: 150px ;
}

.para{
	max-width: 100%;
	text-align: justify;
	margin: 0 auto;
}

.para p{
	font-size: 18px;
	line-height: 25px;
}

.about-title{
	font-size: 48px;
	line-height: 36px;
	text-align: center;
}

.row-left{
	width: 90%;
	height: auto;	
	word-wrap: break-word;
}​
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.career{
	margin-top: 70px ;
}

.career-title{
font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 44px;
color: #525252;
text-align: left;
}

.career-para {
	font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;

color: #4D5E26;
text-align: left;
}


.fas, .far{color: red;
}

.career-para ul{
font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 35px;

color: #324606;
}

.para-lower{
	margin-top: 70px;
	font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
color: #4D5E26;
height: auto;
text-align: justify;
}

.para-lower a{
	color:#8ebb24;
}

.row-right{
	margin-top: 50px;
}
.career-img{
	border-radius: 20px;
	width: 80%;
	height: auto;
	margin: 0 auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.report-left{
	margin-top: 50px ;
}

.report-title{
font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 32px;
line-height: 44px;
color: #525252;
text-align: center;
}

.report-para{
font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
color: #324606;
text-align: left;
margin: 0 auto;
}

.report-para li{
	margin: 15px;
}
.report-para .inner-list{
	list-style: none;
}

.report-box{
	background: #4D5E26;
border-radius: 31px;
height: 290px;
width: 90%;
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
}

.report-box p{
	text-align: center;
	color: #ffffff;
}

.report-box a{
	color: #ffffff;
}

.report-para a {
	color:#324606 ;
}
}

@media (max-width:999px) and (min-width:800px){
.row-left{
	max-width: 100%;
	height: auto;
}

.about-title{
font-size: 32px;
line-height: 46px;
text-align: center;
}

.para{
	max-width: 300px;
	margin: 0 auto;
}

.box-container{
	max-width: 100%;
	margin-top: -15px;
}

.box-container > div {
width: 45vw;
height: 124px;
}

.box-text p{
	margin-top: 18px;
	margin-left: 2px;
}

.box-text span{
	margin-left: 100px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.career{
	margin-top: 70px ;
}

.career-title{
font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 44px;
color: #525252;
text-align: left;
}

.career-para {
	font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 35px;

color: #4D5E26;
text-align: left;
}


.fas,.far{color: red;
}

.career-para ul{
font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 35px;

color: #324606;
}

.para-lower{
	margin-top: 70px;
	font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
color: #4D5E26;
height: auto;
text-align: justify;
}

.para-lower a{
	color:#8ebb24;
}

.row-right{
	margin-top: -100px;
	height: auto;
}

.career-banner{
	display: flex;
  align-items: center;
}

.career-img{
	border-radius: 20px;
	width: 90%;
	margin: 0 auto;
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.reports{
	margin-top: 50px;
}

.report-title{
font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 44px;
color: #525252;
text-align: center;
}

.report-para{
font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
color: #324606;
text-align: left;
margin: 0 auto;
}

.report-para li{
	margin: 10px;
}
.report-para .inner-list{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.report-right{
	 display: flex;
  justify-content: center;
  align-items: center;
}
.report-box{
	background: #4D5E26;
border-radius: 31px;
height: 290px;
width: 90%;
display: flex;
justify-content: center;
align-items: center;
}

.report-box p{
	text-align: center;
	color: #ffffff;
}

.report-box a{
	color: #ffffff;
}

.report-para a {
	color:#324606 ;
}

}

@media (max-width:1065px) and (min-width:1000px){
	.row-left{
	max-width: 100%;
	height: auto;
}

.about-title{
font-size: 40px;
line-height: 46px;
text-align: center;
}

.para{
	max-width: 400px;
	margin: 0 auto;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.career{
	margin-top: 100px ;
}

.career-left{
	margin-top: -200px;
	margin: 0 auto;
}

.career-title{
font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 44px;
color: #525252;
text-align: left;
}

.career-para {
	font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;

color: #4D5E26;
text-align: left;
}


.fas, .far{color: red;
}

.career-para ul{
font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;

color: #324606;
}

.career-para li{
	line-height: 40px;
}

.para-lower{
	margin-top: 150px;
	font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
color: #4D5E26;
height: auto;
text-align: justify;
max-width: 95%;
}

.para-lower a{
	color:#8ebb24;
}

.row-right{
	margin: 0 auto;
}

.career-img{
	border-radius: 20px;
	width: 503px;
	height: 500px;
	margin: 0 auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.reports{
	margin-top: 50px;
}

.report-title{
font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 44px;
color: #525252;
text-align: center;
}

.report-para{
font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
color: #324606;
text-align: left;
margin: 0 auto;
}

.report-para li{
	margin: 10px;
}
.report-para .inner-list{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.report-right{
	 display: flex;
  justify-content: center;
  align-items: center;
}
.report-box{
	background: #4D5E26;
border-radius: 31px;
height: 290px;
width: 90%;
display: flex;
justify-content: center;
align-items: center;
}

.report-box p{
	text-align: center;
	color: #ffffff;
}

.report-box a{
	color: #ffffff;
}

.report-para a {
	color:#324606 ;
}
}

@media (min-width:1066px){
	.center{
		max-width: 100%;
	}

	.about-title{
		text-align: center;
	}

	.para{
	max-width: 450px;
	margin: 0 auto;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.career{
	margin-top: 100px ;
}

.career-left{
	margin-top: -200px;
	margin: 0 auto;
}

.career-title{
font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 44px;
color: #525252;
text-align: left;
}

.career-para {
	font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;

color: #4D5E26;
text-align: left;
}


.fas, .far{color: red;
}

.career-para ul{
font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;

color: #324606;
}

.career-para li{
	line-height: 40px;
}

.para-lower{
	margin-top: 150px;
	font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
color: #4D5E26;
height: auto;
text-align: justify;
max-width: 95%;
}

.para-lower a{
	color:#8ebb24;
}

.row-right{
	margin: 0 auto;
}

.career-img{
	border-radius: 20px;
	width: 503px;
	height: 500px;
	margin: 0 auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center{
	display: flex;
	align-items: center;
	justify-content: center;
}

.reports{
	margin-top: 100px;
}

.report-title{
font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 44px;
color: #525252;
text-align: center;
}

.report-para{
font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
color: #324606;
text-align: left;
margin: 0 auto;
}

.report-para li{
	margin: 15px;
}
.report-para .inner-list{
	list-style: none;
}

.report-para a {
	color:#324606 ;
}

.report-left{
	display: flex;
	justify-content: center;
	align-items: center;
}
.report-right{
	 display: flex;
  justify-content: center;
  align-items: center;
}
.report-box{
	background: #4D5E26;
border-radius: 31px;
height: 290px;
width: 514%;
display: flex;
justify-content: center;
align-items: center;
}

.report-box p{
	width: 70%;
	text-align: center;
	color: #ffffff;
}

.report-box a{
	color: #ffffff;
}

}