
body {
  background-color: #ffffff;
  font-family: Avenir;
  padding-top: 100px;
}

/*-- Pre Loader --*/

.preloader-area {
	background: #fff;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 99999;
}

.sk-cube-grid {
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 40%;
}

.sk-cube-grid .sk-cube {
	width: 33%;
	height: 33%;
	background-color: #75a017;
	float: left;
	-webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
	animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
	0%,
	70%,
	100% {
		-webkit-transform: scale3D(1, 1, 1);
		transform: scale3D(1, 1, 1);
	}
	35% {
		-webkit-transform: scale3D(0, 0, 1);
		transform: scale3D(0, 0, 1);
	}
}

@keyframes sk-cubeGridScaleDelay {
	0%,
	70%,
	100% {
		-webkit-transform: scale3D(1, 1, 1);
		transform: scale3D(1, 1, 1);
	}
	35% {
		-webkit-transform: scale3D(0, 0, 1);
		transform: scale3D(0, 0, 1);
	}
}

/* -- Navigation -- */

.navbar-default {
	background-color: transparent;
	padding: 20px 0;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

nav.navbar.navbar-default.navbar-fixed-top {
	background: #f3f2f2;
}

.sticky.navbar-default {
	background-color: #f3f2f2 !important;
	padding: 10px 0;
}

.navbar-nav {
	margin-top: 4px;
}

.sticky.navbar .nav > li {
	padding: 0 13px;
}

.navbar-nav > li > .dropdown-menu {
	margin-top: 23px;
}

.sticky .navbar-nav > li > .dropdown-menu {
	margin-top: 13px;
}

.navbar-right .dropdown-menu {
	right: auto;
	left: 15px;
}

.sticky .navbar-right .dropdown-menu {
	left: 13px;
}

.navbar-brand {
	padding: 0 15px;
	height: auto;
}

.navbar .nav > li {
	padding: 0 15px;
	-webkit-transition: padding 0.4s ease-in-out;
	-moz-transition: padding 0.4s ease-in-out;
	transition: padding 0.4s ease-in-out;
}

.navbar .nav > li > a {
	padding: 5px 0;
}

.navbar-default {
	margin-bottom: 0;
	border-color: transparent;
}

.navbar-default .navbar-nav > li > a {
	color: #75a017;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	text-transform: uppercase;
	border-bottom: 1px solid transparent;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: transparent;
	border-bottom: 1px solid #ffffff;
}

.navbar-default .navbar-nav > .active > a:hover {
	color: #75a017;
	background-color: transparent;
	border-bottom: 1px solid #ffffff;
}

/*Dropdown Style*/

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
	color: #75a017;
	background-color: transparent;
	border-bottom: 1px solid #ef4836;
}

.navbar-nav > li > .dropdown-menu {
	border-radius: 0;
	padding: 0;
}

.dropdown-menu > li {
	border-bottom: 1px solid #75a017;
}

.dropdown-menu > li:last-child {
	border-bottom: 0;
}

.dropdown-menu > li > a {
	padding: 7px 20px;
	font-size: 12px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	color: #222222;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
	background-color: #75a017;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
	color: #fff;
	background-color: #75a017;
}

/*Mobile Menu Style*/

@media (max-width: 767px) {
	.navbar-default {
		background-color: #75a017;
	}
	.navbar-brand {
		padding: 4px 15px;
	}
}

.navbar-toggle {
	border-radius: 0;
}

.navbar-default .navbar-toggle:hover {
	border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #ccc;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.navbar-default .navbar-toggle:hover .icon-bar {
	background-color: #fff;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background-color: transparent;
}

#brand {
	margin-top: 10px;
	color: #75a017;
}

/* -- Content -- */

.main-content h2{
	color: #525252;
	font-style: normal;
	font-weight: 800;
	font-size: 48px;
	line-height: 66px;
} 

.main-content p{
	color: #4D5E26;
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	
}

.main-content a{
	color: #8ebb24;
}

.para{
	max-width: 500px;
	text-align: justify;
}


.box-container{
	margin-top: 10px;
}

.box-container div {
    width: 100%;
	margin: 30px;
}

.box{
width: 500px;
height: 100px;

background: #4D5E26;
border-radius: 40px;
font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
}

.box p{
	color: #ffffff;
	font-size: 12px;
	text-align: left;
}

.box-text{
	width: 75%;
	padding: 20px;
	margin-left: 30px;
}

.box h3{
	color: #ffffff;
	font-size: 15px;
	text-align: right;
}

.box-sign{
	width: 75%;
	margin: -25px;
}

.box img{
	float: right;
	vertical-align: middle;
  	width: 80px;
  	height: 80px;
  	border-radius: 50%;
}

.box-img{
	margin-top: -55px;
	margin-right: 20px;
}


.list {
  margin-top: 20px;
  color: #4D5E26;
}

.inner-list{
	list-style-type: none;
	color: red;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 20px;
}

.career-img{
	width: 504px;
	height: 503px;
}

.report-box{
	margin-top: 220px;
	width: 500px;
	height: 120px;
	background: #4D5E26;
border-radius: 31px;
	text-align: center;
	 display: flex;
  justify-content: center;
  align-items: center;
}

.report-box p{
	color: #ffffff;
	height: 50%;
}

.report-box a{
	color: #ffffff;
}

.report-box a:hover{
	color: red;
}

.download{
	margin-top: 120px ;
	display: flex;
  	justify-content: center;
  	align-items: center;
	text-align: center;
}

/* -- Footer -- */

#footer {
	background: #f3f2f2;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 10px 0px;
}

#footer p {
	color: #75a017;
}

#footer .left {
	float: left;
}

#footer .right {
	float: right;
}

/* Responsiveness */

/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.navbar .nav > li {
		padding: 0 8px;
	}
}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 768px) {
	div#main-nav-collapse {
		background: rgba(0, 0, 0, 0.1);
	}
	nav.navbar.navbar-default.navbar-fixed-top {
		padding: 5px 0px;
	}
	.navbar-default .navbar-nav > li > a {
		text-align: center;
	}

	.navbar-default .navbar-toggle {
		border-color: #fff;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}

	#footer{
		text-align: center;
	}

	#footer .left,
	#footer .right{
	float: none;
}

}

